*{
	margin: 0;
	padding: 10;
	font-family: Century Gothic;
}
.wrap{
	background-image: url("../image/under.jpg");
	background-size: cover;
	min-height: 100vh;
	max-width: 100%;
	overflow: hidden;

		}
header{
	background-color: #800000;
	height: 8vh;
	background-size: cover;
	background-position: center;
}
ul{
	float: right;
	list-style-type: none;
	padding-top: 15px;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #ffffff;
	padding: 30px 30px;
}
.logo img{
	float: left;
	margin-top: -40px;
	margin-left: 10px;
	width: 150px;
	height: auto;
}
.main{
	max-width: 1200px;
	margin: auto;

}
.background{
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 100%;
	background-image: url("../image/diyandifinal.jpg");
}
.open{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	
}
.open h1{
	color: #ffffff;
	font-size: 50px;
}
.open h2{
	color: #ffffff;
	font-size: 50px;
}
.button{
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.btn{
	border:1px solid #fff;
	padding:10px 30px;
	color: #800000;
	text-decoration: none;
	background: #ffffff;
}
